qr_goats/target/classes/.gitignore
qr_goats/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
qr_goats/target/m2e-wtp/web-resources/META-INF/maven/nl.delphinity/qr_goats/pom.properties
qr_goats/target/m2e-wtp/web-resources/META-INF/maven/nl.delphinity/qr_goats/pom.xml
qr_goats/bin/src/main/webapp/WEB-INF/web.xml
README.md
qr_goats/- kopie.gitignore
qr_goats/.classpath
qr_goats/.project
qr_goats/.settings/.jsdtscope
qr_goats/.settings/org.eclipse.jdt.core.prefs
qr_goats/.settings/org.eclipse.m2e.core.prefs
qr_goats/.settings/org.eclipse.wst.common.component
qr_goats/.settings/org.eclipse.wst.common.project.facet.core.xml
qr_goats/.settings/org.eclipse.wst.jsdt.ui.superType.container
qr_goats/.settings/org.eclipse.wst.jsdt.ui.superType.name
qr_goats/.settings/org.eclipse.wst.validation.prefs
qr_goats/bin/.gitignore
qr_goats/bin/pom.xml
qr_goats/bin/src/main/webapp/index.jsp
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.m2e.core.prefs
.classpath
.project
.settings/org.eclipse.jdt.core.prefs
pom.xml
target/classes/META-INF/maven/qr-goats/qr-goats/pom.properties
target/classes/META-INF/MANIFEST.MF
qr_goats/src/main/webapp/index.jsp
qr_goats/target/
