#Ignore binaries:
*.class

#Ignore Jar files:
*.*-)+j
ar
*.war
*.ear

# Eclipse
.metadata/
RemoteSystemsTempFiles/*
Server/*
.recommenders/*
Servers/*

# Eclipse
.classpath
.project
.settings/

# Maven
target/*
log/*
*/target/

bin/
/target/

#Struts-2 / hibernate
/resources/
/webapp/
/persistence/