:root{
    --background-color: rgb(0, 88, 111);
    --CentraleSansLight: "Centrale Sans Light", sans-serif;
    --CentraleSansRegular: "Centrale Sans Regular", sans-serif
    --CentraleSansItalic: "Centrale Sans Italic", sans-serif;
    --CentraleSansMedium: "Centrale Sans Medium", sans-serif;
    --CentraleSansBold: "Centrale Sans Bold", sans-serif;

 --secondaryColor:#006E96;

height: 100vh;

 


 

}

.terugButton{
    text-decoration: none !important;
    font-family: var(--CentraleSansRegular);
    color: white !important;

}

.terug {
    background-color: #00000057;
    opacity: 0.70;
    display: block;
    margin-right: auto;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 1.5rem;

    color: white;
    box-shadow: 0px 0px 8px rgb(0, 60, 72);
    border-radius: 50px;
    text-shadow: #00586f;
    text-align: center;
    width: 10%;
    height: 10%;
}

body {
    background: var(--background-color);
    font-family: var(--CentraleSansRegular);

    color: white;


}





.overzichtHeader {
    background-color: #00000057;
    padding: 1rem 1.75rem;
    margin: 2px;
    text-align: center;
    display: block;
margin-left: auto;
margin-right: auto;
color: white;
box-shadow: 0px 0px 8px rgb(0, 60, 72);

width: 90%;
border-radius: 50px;
text-shadow: #00586f;
}

div, h2, p, i, label {
    margin: 0;
    padding: 0;
    border: 0;
}

h2 {
    font-size: 1.26rem;
}

#sandImage {
    min-width: 90px;
    width: 10%;
    height: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


.totale-presentie {
    background-color: #508c9f;
    padding: 1rem 1.75rem;
    margin: 10px;
    text-align: center;
    display: block;
margin-left: auto;
margin-right: auto;
color: white;
box-shadow: 0px 0px 8px rgb(0, 60, 72);
height: 100%;
border: 1px solid white;
text-shadow: #00586f;



}

.geno {
    width: 45%;
    margin: 5px;
    display: inline-block;
    
}


.totale-presentie-view {

    text-align: center;
}
p.toon-uren {
    margin-top: 10px;
    margin-bottom: 1rem;
    font-weight: 800;
    font-size: 1.75rem;
}
.red {
    color: #E8004C;
}

/*! CSS Used fontfaces */

#idee {
height: 1.30rem
}

#datums {
    margin-top: 11.5%;
    margin-left: 32%;
    margin-bottom: 10%;
    transform: scale(1.3);
    text-align: center;
    display: none;
    width: fit-content;
}

button {
    background-color: transparent;
    border: 1px solid #00000057;
}

