<?xml version="1.0" encoding="utf-8"?>
    <!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
		</property>

		<property name="hibernate.connection.driver_class">
			com.mysql.cj.jdbc.Driver
		</property>

		<!-- Assume test is the database name -->

		<property name="hibernate.connection.url">
			jdbc:mysql://localhost:3306/QR_GOATS_TEST?createDatabaseIfNotExist=true
		</property>

		<property name="hibernate.connection.username">
			<!-- username bijv root -->
		</property>

		<property name="hibernate.connection.password">
			<!-- wachtwoord bijv 1234 of root -->
		</property>

		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hbm2ddl.auto">create</property>
		<property name="show_sql">true</property>


		<!-- This file is used to map all entities to the database. All annotated 
			classes should be mentioned below as specified in the example. An annotated 
			class is marked with the @entity annotation. -->

		<!-- ****************************************************** Example ****************************************************** -->

		<!-- Example of class Person. Notice the complete path. -->
		<!-- <mapping class="nl.delphinity.pasimo.domain.employeemanagement.Person"/> -->

		<!-- ******************************************************End of Example 
			************************************************ -->

		<!-- Add annotated resources here -->

		<mapping class="nl.delphinity.qr_goats.domain.QRCode" />
		<mapping class="nl.delphinity.qr_goats.domain.Account" />
		<mapping class="nl.delphinity.qr_goats.domain.Persoon" />
		<mapping class="nl.delphinity.qr_goats.domain.Student" />


	</session-factory>

</hibernate-configuration>